
<p id="notice"><%= notice %></p>
<h1>Listing Vendors(<span id="count"> </span>)</h1>
<div id="vendorTable" >
 <%= render 'table' %>

</div>
<h2>Add Vendor</h2>
<span id="errors" ></span>
<%= render 'form' %>



<!-- 


<br>

<%= link_to 'New Vendor', new_vendor_path %> -->
