<h2>Listing Products</h2>
<% if @products.empty? %>
	
	

	<p>No products found</p>
	<% else %>
	<ul>
	<% @products.each do |product| %>
	<li><%= link_to product.name, product_path(product.id) %> - INR <%= product.price %> <%= link_to "show", product_path(product.id) %>
		
	</li>
	
	<% end %>
	
	</ul>
<% end %>
<% if user_signed_in? && current_user.is_admin %>
<% end %> 
<%= link_to "Add products", new_product_path %>



